<a href="https://colab.research.google.com/github/AhmadAlAshery/projects/blob/main/CoinSecondTrial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import json 
from requests import Request, Session
import pandas as pd
import numpy as np

In [19]:
pip install html-table-parser-python3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html-table-parser-python3 in /usr/local/lib/python3.7/dist-packages (0.2.0)

In [20]:
import urllib.request
from html_table_parser.parser import HTMLTableParser

In [21]:
url = "https://coinmarketcap.com/currencies/chia-network/"

In [22]:
headers = {
    "Accepts" : "application/json",
    "X-CMC_PRO_API_KEY" : "a6d1d75d-838e-4f58-b307-6b50b8eb3f62"
}

In [23]:
session = Session()
session.headers.update(headers)
response = session.get(url)

In [24]:
p = HTMLTableParser()
p.feed(response.text)

In [25]:
df =[]
for i in range(len(p.tables)):
    df.append(pd.DataFrame(p.tables[i]))

In [26]:
df[0]

                     0                    1
0           Chia Price               $31.68
1     Price Change 24h       + $0.301 0.96%
2   24h Low / 24h High      $31.15 / $31.99
3   Trading Volume 24h  $5,779,249.37 1.82%
4  Volume / Market Cap              0.03289
5     Market Dominance               0.02 %
6          Market Rank                 #153

In [27]:
(df[0].values[1][1].split(' ')[0]+df[0].values[1][1].split(' ')[1].replace('$', '') if df[0].values[1][1].split(' ')[0] == '-' or df[0].values[1][1].split(' ')[0] == '+' else df[0].values[1][1].split(' ')[1].replace('$', ''))

'+0.301'

In [28]:
df[0].values[1][1].split(' ')

['+', '$0.301', '0.96%']

In [29]:
df[0].values[1][1].split(' ')[1].replace('$', '')

'0.301'

In [30]:
  
c ={}
c[df[0].values[0][0] ]= float(df[0].values[0][1].replace('$', ''))
c[df[0].values[4][0].split('/')[1]+'(%)'] = float(df[1].values[0][1].split('.')[1][2:] + '.' + df[1].values[0][1].split('.')[2][:-1])
c[df[0].values[4][0].split('/')[1]+'(in Dollar)' ]= float(df[1].values[0][1].split('.')[0][1:].replace(',', '')+ '.' +df[1].values[0][1].split('.')[1][:2])
c[df[0].values[5][0]] = df[0].values[5][1]
c[df[0].values[1][0][:-3] + '(in Dollar)']= float(df[0].values[1][1].split(' ')[0]+df[0].values[1][1].split(' ')[1].replace('$', '') if df[0].values[1][1].split(' ')[0] == '-'  or df[0].values[1][1].split(' ')[0] == '+' else df[0].values[1][1].split(' ')[1].replace('$', ''))
c[df[0].values[1][0][:-3] + '(%)'] = df[0].values[1][1][-5:]
c[df[0].values[2][0].split('/')[0] +'price']= float(df[0].values[2][1].split('/')[0][1:].replace(',', ''))
c[df[0].values[2][0].split('/')[1] +'price']= float(df[0].values[2][1].split('/')[1][2:].replace(',', ''))
c[df[0].values[3][0][:-3] + '(in Dollar)'] = float((df[0].values[3][1].split('.')[0][1:] + '.' + df[0].values[3][1].split('.')[1][:2]).replace(',', ''))
c[df[0].values[3][0][:-3] + '(%)']= float(df[0].values[3][1].split('.')[1][2:] + '.' + df[0].values[3][1].split('.')[2][:-1])
c[df[0].values[4][0].split('/')[0]]= df[0].values[4][1]
c[df[2].values[0][0][:-6]]= float(df[2].values[0][1].split('/')[0][1:].replace(',', ''))
c[df[2].values[0][0][:-10] + 'high']= float(df[2].values[0][1].split('/')[1][2:].replace(',', ''))
c[df[2].values[2][0]]= df[2].values[2][1]
c[df[0].values[6][0]]= int(df[0].values[6][1][1:])

In [31]:
tf = pd.DataFrame.from_dict(c, orient='index').reset_index()

In [32]:
tf = tf.T
tf.columns = tf.values[0,:]
tf.drop('index', axis=0, inplace=True)
tf.insert(loc=1, column='', value='')

In [33]:
tf

,Chia Price,,Market Cap(%),Market Cap(in Dollar),Market Dominance,Price Change (in Dollar),Price Change (%),24h Low price,24h Highprice,Trading Volume (in Dollar),Trading Volume (%),Volume,Yesterday s Low,Yesterday s high,Yesterday s Change,Market Rank
0,31.68,,1.13,175735068.18,0.02 %,0.301,0.96%,31.15,31.99,5779249.37,1.82,0.03289,31.1,32.31,2.36%,153

In [34]:
with pd.ExcelWriter('agraj.xlsx') as writer:
    tf.to_excel(writer, sheet_name='sheet1', index=False, startrow=2 , startcol=2)